img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h1,
h2,
.ingredients,
.description-text,
.steps{
    text-align: center;
  
}
div{
    text-align: center;
    list-style: inside;
}