body{
    background-color: gray;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h1,
h2,
.description-text {
    text-align: center;
    font-size: 20px;
}
.description-text{
    background-color: orange;
}
div{
    text-align: center;
    list-style: inside;
}

.ingredients{
    color: white;
    font-size: 25px;
    font-family: "Comic Sans", sans-serif;
}
ol{
    background: yellow;
    padding: 20px;
}
ol li{
    color: darkgoldenrod;
    background: #fffeb6;
    margin: 5px;
    font-size: 20px;
}

.recipes{
    display: flex;
    list-style: none;
}